@media screen and (max-width: 767px) {
    .mobileMenu {display: block;}
    .mobileMenu__content {height: 100vh;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-image: linear-gradient(to right, #E93035 70%, #fff 30%);overflow-x: hidden;transition: 0.5s;}
    .mobileMenu__link {padding: 15px 25px;display: block;color: #fff;text-transform: uppercase;border-bottom: 1px solid #fff;}
    .mobile-bar {font-size:30px;cursor:pointer;color: #E93035;}
    .closebtn {font-size: 4rem;color: #E93035;position: absolute;right: 15px;top: 0;}
    .floating-icon{width: 45px; padding: 10px 10px 0;}
    .staticmodal-innercontent .modal-body .modal-image {display: none;}
    .staticmodal-innercontent .modal-body .offer-form {width: 100%;padding: 10px;}
    .staticmodal-innercontent .modal-body .offer-form .offer-form-heading {line-height: 1.2;padding: 20px 0 0;font-size: 18px;}
    .staticmodal-on .staticmodal-innercontent {width: 95%;}
    #enquiryModal .modal-dialog { width: 95%;}
    .logo {width: 50px;}
    #timer {font-size: 25px;}
    nav{padding: 0;}
    .menu{display: none;}
    .topsocial {width: 35%;}
    .topsocial-link {padding: 10px 15px;font-size: 1em;}
    .banner_head {font-size: 3.5rem;}
    .banner__content {padding-top: 0;}
    .services {flex-wrap: wrap;justify-content: space-between;}
    .services__list {width: 47%;margin-bottom: 15px;}
    .services__list:nth-child(even) {margin-right: 0;}
    .benefits-list {flex-wrap: wrap;margin-bottom: 0;}
    .benefits-list-item {width: 100%;margin-bottom: 1.5rem;}
    .benefits_help--list {width: 100%;}
    .expertsContainer {flex-wrap: wrap;}
    .expertsContainer .experts__content{width: 100%;}
    .expert-line, .experts__top {display: none;}
    .expertsContainer .experts__content {margin-bottom: 2rem;}
    .expertsContainer .experts__content:last-child {margin: 0;}
    .testimonial{padding: 5rem 0 0;}
    .testimonialSlide.slick-slider .slick-list {height: 420px !important;}
    .faqContainer--list--title {font-size: 14px;line-height: 1.2;padding-right: 15px;}
    .faqContainer--list.open .faqContainer--list--title:after, .faqContainer--list.closed .faqContainer--list--title:after {top: 0;}
    .talk-content {width: 100%;padding: 1em;}
    .talk-content-head, .talk-content-text {display: none;}
    .talk-social-box {margin: 0;}
    .talk-content-head {font-size: 1.5em;}
    .talk-icon-box {margin: 1.5em 0;}
    .talk-content-link {width: 100%;margin-bottom: 15px;}
    .fixed-bottom {width: 50px;}
    /* Thankyou page */
    .thankyou__content { width: 90%;}
    /* technology details page */
    .detailBanner__content {flex-wrap: wrap;}
    .detailBanner__content .banner__left {width: 100%; margin-bottom: 2rem;}
    .detailBanner__content .col-md-4 {width: 100%;}
    .feature_content, .whyTeam_content{width: 100%;flex-wrap: wrap;margin: 0;}
    .feature_list, .whyTeam_detail_box {width: 100%; margin-right: 0;margin-bottom: 1.5em;}
    .whyTeam_detail_box:last-child {margin-bottom: 0;}
    .delivery, .process_content {width: 100%;}
    .process_content_left, .process_content_right {width: 50%;}
    .process_content_left {margin-left: 0;}
    .process_content_left {margin-right: 15px;}
    .process_box_icon:after {width: 40px;}
    .order_box:after {left: 44.7%;}
  
  }
