@media screen and (max-width: 767px) {
    .floating-icon{width: 45px; padding: 10px 10px 0;}
    .staticmodal-innercontent .modal-body .modal-image {display: none;}
    .staticmodal-innercontent .modal-body .offer-form {width: 100%;padding: 10px;}
    .staticmodal-innercontent .modal-body .offer-form .offer-form-heading {line-height: 1.2;padding: 0;font-size: 18px;}
    .staticmodal-on .staticmodal-innercontent {width: 95%;}
    #enquiryModal .modal-dialog { width: 95%;}
    .logo {width: 50px;}
    #timer {font-size: 25px;}
    .banner__content {padding: 0;display: flex;flex-direction: column-reverse;margin-top: 1.5rem;}
    .services {flex-wrap: wrap;justify-content: space-between;}
    .services__list {width: 47%;margin-bottom: 15px;}
    .services__list:nth-child(even) {margin-right: 0;}
    .benefits-list {flex-wrap: wrap;margin-bottom: 0;}
    .benefits-list-item {width: 100%;margin-bottom: 1.5rem;}
    .benefits_help--list {width: 100%;}
    .expertsContainer {flex-wrap: wrap;}
    .expertsContainer .experts__content{width: 100%;}
    .expert-line, .experts__top {display: none;}
    .expertsContainer .experts__content {margin-bottom: 2rem;}
    .expertsContainer .experts__content:last-child {margin: 0;}
    .testimonialSlide.slick-slider .slick-list {height: auto !important;}
    .faqContainer--list--title {font-size: 14px;line-height: 1.2;}
  }