/* Reset CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'tgsFont';
    line-height: 1.3;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #F7F7F7;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #e93035;
}

::placeholder {
    font-size: 12px;
}

figure,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #555;
}

ul,
li {
    list-style-type: none;
    padding: 0
}

img {
    max-width: 100%
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #E93035;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Common Css */
.primary_color {
    color: #E93035;
}

.block {
    display: block;
}

.center {
    text-align: center;
}

.topHead {
    text-align: center;
    padding: 3rem 0;
}

.page_head {
    font-size: 3rem;
    letter-spacing: 0.5px;
    margin-bottom: 2.5rem;
}

.section_head {
    font-size: 2.3rem;
    letter-spacing: 0.5px;
    margin-bottom: 2.5rem;
}

.subhead {
    font-size: 1.5rem;
}

.icon {
    width: 15px;
}

.errorMsg {
    color: #ff0000;
    font-size: 12px;
    padding-top: 5px;
    display: none;
}
.strip {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    display: none;
}

#seccess_message {
    background: green;
}

#error_message {
    background: red;
}

.btnLoader {
    width: 60px;
    display: none;
}
.moreContent span {display: none;}
.moreLink {display: block;margin-top: 0.5em;}

/* Form field css */
.field-container {
    position: relative;
}

.form-field {
    padding: 10px 0 10px 30px;
    height: auto;
}

.field-icon {
    position: absolute;
    left: 10px;
    width: 15px;
    top: 13px;
}

/* Main CSS */
/* Floating Icons */
.floating-icon {width: 55px;position: fixed;top: 25%;background: #fff;padding: 12px 12px 0;border-radius: 3px 0 0 3px;z-index: 9;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);transition: all 0.4s ease-in-out;}
.social__icon {margin-bottom: 15px;transition: all 0.4s ease-in-out;}
.social__icon:hover {transform: scale(1.2);transition: all 0.4s ease-in-out;}
.floating-icon.right-social {right: 0;}
.floating-icon.left-social {left: 0;}

/* Header */
.header {
    padding: 0.8rem 0;
    box-shadow: 1px 0 10px #aaa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: translate(0, 0);
    z-index: 9;
    position: relative;
    top: 0;
    width: 100%;
    background: #fff;
}

.header.fixed {
    z-index: 9;
    position: fixed;
    top: 14px;
    background: #fff;
    transform: translate(0, -14px);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    width: 80px;
}
.mobileMenu {display: none;}
.menu {width: 80%;text-align: right;position: relative;}
.menu-link{color: #333;letter-spacing: 1px;text-transform: uppercase;font-weight: bold;font-size: 1.1em;position: relative;padding: 10px 0;margin-left: 2.5rem;}
.menu-link:after {position: absolute;bottom: -1px;left: 0;right: 0;margin: auto;width: 0;
    content: '.';color: transparent;background: #e93035;height: 2px;transition: all 0.5s;}
.menu-link.active {color: #e93035;}
.menu-link:hover:after {width: 100%;transition: all 0.5s;}
.topsocial {width: 15%;text-align: right;}
.topsocial__icon {width: 35px;margin-left: 15px;transition: all 0.4s;}
.topsocial__icon:hover {transform: scale(1.2);}
.topsocial-link {
    display: inline-block;
    background: #e93035;
    color: #fff;
    padding: 12px 22px;
    border-radius: 3px;
    box-shadow:0 14px 26px -12px rgba(233, 48, 53, 0.77);
    transition: all 0.4s;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.2em;
}
.topsocial-link:hover {transform: scale(1.1);transition: all 0.4s;color: #fff;}
.topsocial-link:focus{color: #fff; outline: 0;}
/* banner content */
.banner__content {
    padding: 5rem 0;
}

.banner__left {
    padding-top: 2rem;
}

.banner_head {
    font-size: 4.5rem;
}

.banner_subhead {
    font-size: 2.1rem;
    margin: 5px 0;
    font-weight: 400;
    line-height: 1.2;
}

.banner_text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 2rem 0 4rem;
}

.banner__form {
    background: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Services */
.services {
    display: flex;
    justify-content: center;
    margin: 0;
}

.services__list {
    width: 20%;
    text-align: center;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    box-shadow: 0 10px 25px #806972;
    padding: 20px;
    margin-right: 15px;
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    background: #fff;
}

.services__list:hover {
    background: #e93035;
    transform: scale(1.03);
    transition: all 0.4s ease-in-out;
}

.services__list:hover .services__list--icon,
.services__list:hover .services__list--text {
    color: #fff;
}

.services__list--icon {
    font-size: 5rem;
    margin-bottom: 1.8rem;
    color: #e93035;
}

.services__list--text {
    font-size: 1.5rem;
    font-weight: 500;
}

.requirement {
    text-align: center;
    margin-top: 3rem;
}

.quoteBtn {
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    background:  #e93035;
    transition: all .4s ease-out;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #e93035;
}

.quoteBtn:hover,
.quoteBtn:focus {
    background: #fff;
    transition: all .4s ease-out;
    color: #e93035;
    outline: 0;
}

#enquiryModal .modal-dialog {
    width: 350px;
}

#enquiryModal  .modal-content {
    text-align: center;
}

.zxForm .form-group:nth-child(even) {
    margin-right: 0;
}

.zxForm .form-group:nth-child(7) {
    width: 99%;
}

.zxForm .form-group .form-control {
    min-height: 40px;
}

/* File upload css */
.form-upload {
    background: #f5f5f5;
    padding: 15px;
    border: 1px dashed #ccc;
    border-radius: 4px;
}

.file-uploader {
    background-color: #dbefe9;
    border-radius: 3px;
    color: #242424;
}

.file-uploader__message-area {
    text-align: left;
    color: #ed5a5e;
}

.file-list {
    margin: 1rem 0;
}

.file-list__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-list li {
    padding: 5px;
    border-radius: 0;
    margin-bottom: 0.5rem;
    background: #fff;
}

.removal-button {
    border: none;
    color: #e93035;
    background: transparent;
    float: right;
}

.removal-button::before {
    content: "X";
}

.removal-button:focus {
    outline: 0;
}

.file-chooser p {
    font-size: 12px;
    padding-top: 1em;
}

.file-uploader {
    max-width: 400px;
    height: auto;
    margin: 2em auto;
}

.file-uploader * {
    display: block;
}

.file-uploader input[type="submit"] {
    margin-top: 2em;
    float: right;
}

.file-list__name {
    max-width: 70%;
    float: left;
}

.file-list li:after,
.file-uploader:after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    display: none;
}

.hidden input {
    display: none;
}

.error {
    background-color: #d65d38;
    color: white;
}

/* Benefits Section */
.benefits {
    padding: 5rem 0;
    background: #fff;
}

.benefits-list {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.benefits-list-item {
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 30%;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.benefits-list-item-icon {
    margin-right: 0.6rem;
}

/* Benefit help */
.benefits_help--list {
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1.2rem;
    border-radius: 3px;
    transition: all 0.4s;
    width: 70%;
    text-align: left;
    margin-bottom: 1.5rem;
    color: #777;
    font-size: 1.5rem;
}

.benefits_help--list:hover {
    transform: scale(1.02);
    background: #fff2f2;
    transition: all 0.4s;
}

.benefits_help--icon {
    width: 18px;
    margin-right: 0.5rem;
}

/* Experts Section */
.experts {padding: 5rem 0;background: #F7F7F7;position: relative;}
.experts__content--head {font-size: 20px;text-transform: uppercase;font-weight: 600;margin: 1em 0 0.5rem;}
.icon__container {background: #fff;display: inline-block;padding: 30px 35px;border-radius: 50%;cursor: pointer;transition: all .4s ease-out;box-shadow: 0 10px 6px -6px #777;position: relative;z-index: 1;}
.icon__container--img {width: 50px;}
.experts__content--text {color: #333;}
.experts__top {text-align: center; position: relative;}
.expertsContainer {display: flex;}
.expertsContainer .experts__content {width: 20%;position: relative;text-align: center;display: flex;flex-direction: column;align-items: center;}
.experts__top .icon__container {padding: 40px 35px;margin-bottom: 45px;}
.experts__top .icon__container .icon__container--img { width: 100px;}
.experts__top .icon__container:after {content: '';position: absolute;bottom: -35px;width: 5px;height: 35px;background: #fff;left: 49%;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
.experts__content:after{content: '';position:absolute;top: 25px;width: 5px;height: 25px;background: #fff;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
.expert-line {border-top: 5px solid #fff;width: 80%;margin: 0 auto -15px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
.step-count {margin-bottom: 25px;font-size: 1.6rem;padding: 4px 8px;background: #ffffff;left: 45%;z-index: 1;
top: 0;border-radius: 50%;color: red;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Testimonials */
.testimonial {
    padding: 5rem 0;
    background: #fff;
    position: relative;
}

.testimonialSlide__box {
    text-align: center;
    background: #fff;
    padding: 2rem 2rem 6rem;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .4);
    border-radius: 6px;
    position: relative;
}

.testimonialSlide__box--clientDetail {
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonialSlide__box--clientImg {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.testimonialSlide__box--clientName {
    margin-top: 0.5rem;
    font-size: 1.2em;
    font-weight: 600;
}

.testimonialSlide.slick-slider .slick-list {
    padding: 9rem 0 !important;
}

.testimonialSlide.slick-slider .slick-list .slick-slide {margin:0 5px !important;}
.testimonialSlide.slick-slider .slick-list .slick-slide.slick-active, .testimonialSlide.slick-slider .slick-list .slick-slide.slick-cloned.slick-active, .testimonialSlide.slick-slider .slick-list .slick-slide.slick-current.slick-active{margin:0 5px !important;}

.testimonialSlide .slick-slide.slick-current .testimonialSlide__box {
    background: #E93035;
    transform: scale(1.1);
    margin-top: -60px;
    color: #fff;
    z-index: 2;
}

.slick-slide .testimonialSlide__box--mark {
    width: 40px;
    display: inline-block;
    margin-bottom: 1rem;
}

h4.testimonialSlide__box--head {margin-bottom: 10px;}

.testimonialSlide .slick-slide.slick-current .testimonialSlide__box .testimonialSlide__box--text {
    color: #fff;font-family: cursive;
}
.testimonialSlide .slick-slide.slick-current .testimonialSlide__box .testimonialSlide__box--head {color: #fff;}
.testimonialSlide .slick-slide.slick-current .testimonialSlide__box .testimonialSlide__box--text .moreLink, .testimonialSlide .slick-slide.slick-current .testimonialSlide__box .testimonialSlide__box--text .moreLink:hover{color: #000}
.testimonialSlide__box--text {font-family: cursive;letter-spacing: 0.3px;}

/* FAQ */
.faq {
    padding: 5rem 0;
    background: #F7F7F7;
}

.faqContainer--list {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px 15px 20px 40px;
    border-radius: 3px;
    position: relative;
    background: #fff;
    color: #333;
    margin-top: 15px;
}

.faqContainer--list:before {
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    background-color: #fff;
    border: 3px solid #777;
    border-radius: 50%;
    left: 15px;
    top: 22px;
    z-index: 1;
}

.faqContainer--list.open:after {
    /* content: ''; */
    width: 13px;
    height: 13px;
    position: absolute;
    background-color: #fff;
    border: 3px solid #777;
    border-radius: 50%;
    left: 15px;
    bottom: 20px;
}

.faqContainer--list.open .faqContainer--list--text:before {
    width: 3px;
    height: 100%;
    background: #777;
    /* content: ''; */
    position: absolute;
    left: 20px;
    top: 0;
}

.faqContainer--list--title {
    cursor: pointer;
    position: relative;
}
.faqContainer--list.closed .faqContainer--list--title:after{content: url(../images/icons/downArrow.png); position:absolute;right: 0;}
.faqContainer--list.open .faqContainer--list--title:after{content: url(../images/icons/upArrow.png);position: absolute;right: 0;}

.faqContainer--list.open .faqContainer--list--text {
    width: 100%;
    margin: 10px 0px 0px 0px;
    display: block;
    box-sizing: border-box;
    color: #828282;
}

.faqContainer--list.closed .faqContainer--list--text {
    display: none;
}

/* footer */
.footer {padding: 2.5em 0 2em;background: #343A40;}
.footer-container {display: flex;}
.footer_box {width: 25%;}
.footer_link {display: block;font-size: 1em;margin-bottom: 0.8em;color: #dee2e6;}
.footer_link:last-child{margin-bottom: 0;}
.bottom-footer {padding-top: 2em;margin-top: 2em;border-top: 1px solid #ccc;display: flex;align-items: center;justify-content: center;}
.rights-text {color: #bbb;margin-right: 1rem;}
.bottom-social .social__icon {width: 25px;margin-bottom: 0;margin-left: 0.5rem;}
/* On load form */
.staticmodal-on {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #3333335e;
    z-index: 9;
}
.staticmodal-innercontent {
    background: #fff;
    width: 950px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    display: none;
    text-align: center;
}
.staticmodal-on .staticmodal-innercontent {
    display: block;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.staticmodal-innercontent .modal-body.offer-modal {display: flex;align-items: center;padding: 0;}
.staticmodal-innercontent .modal-body .modal-image {width: 60%;}
.staticmodal-innercontent .modal-body .modal-image img {border-radius: 6px 0 0 6px;}
.staticmodal-innercontent .modal-body .offer-form {width: 40%;padding: 30px;}
.staticmodal-innercontent .modal-body .offer-form .offer-form-heading {line-height: 1.3;
    padding: 0px 30px 0px 30px;}

.staticmodal-innercontent .modal-title {padding: 15px 15px 0;}
.staticmodal-innercontent .modal-body .quoteBtn {margin: 15px 0;}
.staticmodal-innercontent .modal-body .form-control {min-height: 40px;}
.modalScroll { overflow: hidden;}
.modaldelete {position: absolute;right: 0px;top: 0;z-index: 1;background: #fff;padding: 0px 10px;border-radius: 0 6px 0 0;font-weight: bold;cursor: pointer;font-size: 2.5rem;color: #e93035;}
.offer-timer {margin-bottom: 10px;}
#timer {
    font-size: 35px;
}
.fixed-bottom {position: fixed;bottom: 10px;right: 5px;z-index: 1;width: 75px;}
.fixed-bottom .social__icon {width: 100%;margin: 0;}

/* contact popup */
.offer-modal.talk-modal .modal-image {width: 40%;}
.talk-content {width: 60%;padding: 2em;text-align: left;position: relative;}
.talk-content-head {font-size: 2em;}
.talk-content-text {font-size: 1.2em;margin: 5px 0;}
.talk-content-social {text-align: center;}
.talk-content-icon { width: 50px;transition: all 0.5s;}
.talk-content-link {box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .4); display: inline-block;background: #fff;border-radius: 30px;transition: all 0.4s;width: 45%;margin-bottom: 2em;}
.talk-content-link:hover {transform: scale(1.1);transition: all 0.4s;}
.talk-content-link:hover .talk-content-icon {transform: rotate(360deg);transition: all 0.5s;}
.talk-icon-box {display: flex;justify-content: space-between;align-items: center;margin: 2em 0 0;flex-wrap: wrap;}
.talk-content-link span {padding: 0 10px;font-size: 1.2em;color: #555;}
.talk-social-box {margin: 2em 0 0;text-align: center;}
.talk-social-box .social__icon {margin-bottom: 0; width: 50px;margin-left: 15px;}

/* Thank you page css */
.flex_wrapper {
    height: calc(100vh - 85px);
    display: flex;
    align-items: center;
}
.thankyou__content {
    width: 50%;
    background: #fff;
    text-align: center;
    padding: 50px;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
.thankyou__content--head {
    margin: 10px 0;
    font-size: 2.5rem;
}
.thankyou__content .quoteBtn {margin-top: 20px;}

/* Portfolio CSS */
.portfolioContent {display: flex;justify-content: space-between;margin-bottom: 25px;}
.portfolioContent_box {width: 50%;margin-right: 25px;position: relative;text-align: center;cursor: pointer;box-shadow: 0 0 15px 5px rgba(0, 0, 0, .07);border: 8px solid #f5f5f5;overflow: hidden;}
.portfolioContent_box:last-child {margin-right: 0;}
.portfolioContent_img {width: 100%;display: block;position: relative;opacity: .8;}
.portfolio__tech {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: #f7666a;
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    padding: 1em;
    font-size: 1.25rem;
}
.portfolioContent_title {color: #fff;font-size: 2rem;}
.portfolio__tech h2, .portfolio__tech p.icon-links a {
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}
.portfolioContent_box:hover {background: #3085a3;}
.portfolioContent_box:hover .portfolio__tech, .portfolioContent_box:hover h2, .portfolioContent_box:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* technology details page */
.detailBanner__content {display: flex;align-items: center;padding: 5rem 0;}
.detailBanner__content .banner_head {font-size: 5rem;}
.detailBanner__content .banner__left {padding-top: 0;text-align: center;width: 80%;}
.detailBanner__content .banner__left .quoteBtn {margin-top: 3rem;}
                /* Feature css */
.feature {background: #ffffff;padding: 5rem 0;}
.feature_content {display: flex;margin-top: 15px;width: 70%;margin: 30px auto 0 auto;}
.feature_content:first-child{margin-top: 1rem;}
.feature_list {padding: 15px;margin-right: 30px;width: 50%;box-shadow: 0 5px 10px #806972;border-radius: 0 0 3px 3px;border-top: 3px solid #e93035;display: flex;justify-content: space-between;align-items: center;transition: all 0.4s;}
.feature_list:hover {transition: all 0.4s; transform: scale(1.05);}
.feature_list:last-child {margin-right:0}
.feature_list_icon {color: #e93035;font-size: 5rem;margin-right: 1.5rem;width: 20%;transition: all 0.5s;}
.feature_list_content {width: 80%;}
.feature_list_head {margin-bottom: 0.6rem;font-weight: bold;}
                /* Optional feature */
.optionalFeature {padding: 5rem 0;}
.optionalFeature .feature_list {background: #fff;}
                    /* Why us */
.whyTeam {background: #fff;padding: 5rem 0;}
.whyTeam_content {display: flex;width: 70%;margin: auto;}
.whyTeam_detail_box {width: 25%;margin-right: 15px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);padding: 15px;border-radius: 3px;text-align: center;}
.whyTeam_detail_box:last-child {margin-right: 0;}
.whyTeam_detail_icon {color: #e93035;font-size: 5rem;margin-bottom: 15px;}
.whyTeam_detail_text {font-weight: bold;font-size: 1.5rem;}
                        /* Conversion Process  */
.order_box .process_box_detail {border-top: 3px solid #ff0000;}
.process {padding:5rem 0 1rem;}
.process_content {display: flex;width: 70%;margin: auto;justify-content: center; margin-top: 2rem;}
.process_line {padding: 2px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);background: #fff;position: relative;z-index: 3;}
.process_line:after {content: '';position:absolute;height: 50px;top: -50px;padding: 2px;background: #fff;left: 0;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
.process_box_icon:after {content: '';width: 55px;height: 5px;background: #fff;position:absolute;right: -55px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);top: 45%;}
.process_box_icon {display: inline-block;padding: 30px 35px;border-radius: 50%;cursor: pointer;transition: all .4s ease-out; box-shadow: 0 10px 6px -6px #777;background: #fff;font-size: 4rem;color: #e93035;position: relative;margin-bottom: 5rem;}
.process_content_left, .process_content_right {width: 30%;margin-left: 20px;position: relative;z-index: 2;}
.process_content_left {margin-right: 30px;text-align: right;}
.process_box_detail {text-align: center;background: #fff;padding: 15px;box-shadow: 0 0px 4px #806972;border-radius: 3px;margin-bottom: 5rem;}
.process_box_head {margin-bottom: 0.5rem;}
.process_content_right .process_box_icon:after {right: 100%;}
.delivery {width: 25%; margin: auto;position: relative;z-index: 3;}
/* About us page css */
.sectionPadd {padding-top: 5rem; padding-bottom: 5rem;}
.about {display: flex;align-items: center;}
.about_img {width: 60%;margin-left: 2rem;}
.about_text {margin-bottom: 2rem;font-size: 1.3em;}
.aboutus.process {background: #fff;}
                /* vision */
.vision {background: #fdc2c2;padding-top: 5rem;}
.vision_content {display: flex;align-items: center;}
.vision_list-item {margin-bottom: 1.2rem;font-size: 1.3em;}
.whyUs {background: #fff;}
                /* Bottom Strip */
.contactStrip{padding:1.5em 0;}
.strip_content {display: flex;align-items: center;}
.strip_content-left, .strip_content-right {width: 50%;}
.strip_content-right {display: flex;}
.strip_content-box {width: 50%; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fff;padding: 15px; margin-left: 20px;border-radius: 3px;line-height: 1.5;border-top: 2px solid #e93035;}
.strip_content-link {color: #333;font-size: 1.5em;font-weight: bold;}
/* Stats section for home */
.stats {background: #fff;}
.stats__content {display: flex;align-items: center;}
.stats__box {width: 100%;display: flex;}
.stats__img {width: 60%;}
.stats__box--content {width: 20%;box-shadow: 0 5px 10px #d4b8ba;border-radius: 3px; background: #fff;padding: 1.5em;margin-right: 1.5rem;text-align: center;}
.stats__box--content:last-child{margin-right: 0;}
.stats__icon {color: #ff4f5a;font-size: 5rem;margin-bottom: 1.5rem;}
.stats__head {font-weight: 600;color: #ff4f5a;}



/* Sub Menu */
.submenuContain {
    display: inline-block;
}

.submenu {
    position: absolute;
    top: 28px;
    width: 67%;
    right: 0;
    background: #fff;
    padding: 2rem;
    text-align: left;
    box-shadow: 0 0px 4px #806972;
    border-top: 2px solid #e93035;
    border-radius: 0 0 3px 3px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.submenu::before {content: url(../images/menuIcon.png);position: absolute;top: -14px;left: 35%;}
.submenu-link {display: inline-block;width: 29%;color: #333;font-weight: bold;margin-right: 3rem;padding: 10px 0;border-bottom: 1px solid #ccc;}
.submenu-link:nth-child(-n+3){padding-top: 0;}
.submenu-link:nth-last-child(-n+3){border-bottom: 0;padding-bottom: 0;}
.submenu-link:nth-child(3n) {margin-right: 0;}
.submenuContain:hover .submenu {visibility: visible;opacity: 1;z-index: 1;transform: translateY(0%);transition-delay: 0s, 0s, 0.3s;}
/* static pages css */
.static_page h4 {margin: 8px 0;}
.static_page h5 {margin:5px 0}
.static_page ul li, .listingPara p{position: relative;padding-left: 15px;margin-top: 5px;}
.static_page ul li:before, .listingPara p:before {content: '';background: #ff0000;width: 5px;height: 5px;border-radius: 50%;position: absolute;top: 5px;left: 0;}